*.uasset filter=lfs diff=lfs merge=lfs -text locking
*.uproject filter=lfs diff=lfs merge=lfs -text locking
*.umap filter=lfs diff=lfs merge=lfs -text locking
*.fbx filter=lfs diff=lfs merge=lfs -text locking
